////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.footer {
  // Default CSS
  @include responsive(mobile) {
    min-height: 25vh;
    background: $bg-dark;
    grid-column: 2/3; // Take max-width in grid skeleton next sidebar
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

