////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Responsive font-size
// 100% equals 16px (default browser)
html {
  // Default CSS
  @include responsive(mobile) {
    font-size: 62.5%;
  }
  // Tablet vertical CSS
  @include responsive(tablet-portrait) {
    font-size: 75%;
  }
  // Tablet horizontal CSS
  @include responsive(tablet-landscape) {
    font-size: 87.5%;
  }
  // Desktop CSS
  @include responsive(desktop) {
    font-size: 100%;
  }
  // Large desktop CSS
  @include responsive(desktop-big) {
    font-size: 112.5%;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  // Default CSS
  @include responsive(mobile) {
    height: inherit; // Inherit from html
    color: $bg-dark;
    background: $bg-light;
    font-family: $font-body;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

a {
  @include responsive(mobile) {
    text-decoration: none;
    color: $bg-primary;
    transition: color .2s ease;
  }

  &:hover {
    @include responsive(mobile) {
      color: $bg-secondary;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

::selection {
  color: $bg-dark;
  background: $bg-primary;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////