.is-active {
  @include responsive(tablet-landscape) {
    width: 100%;
    color: $bg-dark;
    background: $bg-primary;

    &:hover {
      color: $bg-dark;
    }
  }
}

.is-show {
  @include responsive(mobile) {
    display: block;
  }
  @include responsive(tablet-landscape) {
    display: inherit !important;
  }
}

.is-hide {
  @include responsive(mobile) {
    display: none;
  }

  @include responsive(tablet-landscape) {
    display: inherit !important;
  }
}

