////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ------
// Colors
// ------
$bg-dark: #413f36;
$bg-grey: #555555;
$bg-white: #eeefe5;
$bg-success: #827717;
$bg-primary: #827717;
$bg-secondary: #DEDECD;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// -----
// Fonts
// -----
$font-body: 'Raleway', sans-serif;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////