////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ------
// Colors
// ------
$bg-primary: #9DA596;
$bg-secondary: #A49378;

$bg-dark: #2B3938;
$bg-light: #F5F6F4;

$bg-info: #0099BC;
$bg-success: #498205;
$bg-warning: #FF8C00;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// -----
// Fonts
// -----
$font-body: adobe-garamond-pro, sans-serif;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////