{% extends 'base.html.twig' %}

{# Portfolio ~ Webdeval #}
{% block title 'Portfolio' %}

{% block body %}
    {# portfolio page #}
    <main class="portfolio">
        {# Banner #}
        <header role="banner" id="home" class="portfolio-banner"></header>

        {# Intro #}
        <section id="intro" class="intro">
            <div class="container">
                <h2 class="intro-title">
                    À propos
                </h2>

                <img src="https://via.placeholder.com/1340x400" alt="À propos" class="intro-img">

                <p class="intro-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita explicabo illo nostrum quam
                    sequi similique! Ad aliquam architecto culpa ducimus eligendi error facere harum in molestiae neque,
                    nobis, officiis repellat soluta tempora voluptate. Animi atque delectus, dignissimos earum enim esse
                    illum, ipsum, natus officia quaerat reiciendis unde. A dignissimos dolor esse, ex impedit, ipsa
                    iusto laudantium necessitatibus nihil non, pariatur praesentium rerum sequi similique ut.
                    Accusantium consectetur culpa nostrum possimus quo rem sapiente, similique tenetur? Accusantium
                    alias assumenda dolor dolore et exercitationem harum illo itaque libero magnam nulla optio placeat
                    porro praesentium quam quisquam, sit veniam voluptatem. Accusantium ad delectus dolorem enim ipsa
                    odio recusandae repudiandae sit. Consequuntur dolorem eius impedit laborum libero officiis quaerat,
                    quidem? Illo, quis, voluptatibus?
                </p>
            </div>
        </section>

        {# Separator #}
        <div class="container">
            <hr class="separator">
        </div>

        {# Works #}
        <section id="works" class="works">
            <div class="container">
                <h2 class="works-title">
                    Ce que j'ai fait
                </h2>
            </div>
        </section>
    </main>
{% endblock %}
