{% extends 'base.html.twig' %}

{# Portfolio ~ Webdeval #}
{% block title 'Portfolio' %}

{% block body %}
    {# portfolio page #}
    <main class="portfolio">
        <header role="banner" class="portfolio-banner"></header>
    </main>
{% endblock %}
