////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.portfolio {
  &-banner {
    // Default CSS
    @include responsive(mobile) {
      min-height: 65vh;
      background: url(https://via.placeholder.com/1200x1080) center / cover;
    }
    // Load image mobile and low resolution
    @include responsive(image) {
      background: url(https://via.placeholder.com/1920x1080) center / cover;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.intro {
  // Default CSS
  @include responsive(mobile) {
    margin: 2rem 0;
  }

  // Tablet horizontal
  @include responsive(tablet-landscape) {
    margin: 3rem 0;
  }

  &-title {
    // Default CSS
    @include responsive(mobile) {
      margin: 0 0 1rem 0;
      text-transform: uppercase;
      color: lighten($bg-dark, 10%);
    }
  }

  &-block {
    // Default CSS
    @include responsive(mobile) {
      height: 15rem;
      @include position(relative, null, null, null, null, null);
    }

    // Tablet horizontal
    @include responsive(tablet-landscape) {
      height: 25rem;
    }
  }

  &-mask {
    // Default CSS
    @include responsive(mobile) {
      height: inherit; // Same width as intro-block
      background: linear-gradient(to right, rgba(#134e5e, .3), rgba(#71b280, .3));
      border-radius: .5rem;
      @include position(absolute, 0, 0, 0, 0, 10);
    }

    @include responsive(tablet-landscape) {
      height: inherit; // Same width as intro-block
    }
  }

  &-img {
    // Default CSS
    @include responsive(mobile) {
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      height: inherit; // Same width as intro-block
      box-shadow: 0 0 .3rem $bg-secondary;
      border-radius: .5rem;
    }

    // Tablet horizontal
    @include responsive(tablet-landscape) {
      height: inherit; // Same width as intro-block
    }
  }

  &-paragraph {
    @include responsive(mobile) {
      margin: 2rem 0 0 0;
      line-height: 1.5;
      text-align: justify;
      color: lighten($bg-dark, 20%);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.skills {
  // Default CSS
  @include responsive(mobile) {
    margin: 2rem 0;
  }

  // Tablet horizontal
  @include responsive(tablet-landscape) {
    margin: 3rem 0;
  }

  &-title {
    // Default CSS
    @include responsive(mobile) {
      margin: 0 0 1rem 0;
      text-transform: uppercase;
      color: lighten($bg-dark, 10%);
    }
  }

  .particles-js-canvas-el {
    @include position(absolute, 0, 0, 0, 0, null);
  }

  &-block {
    // Default CSS
    @include responsive(mobile) {
      padding: 10rem 0;
      overflow: hidden;
      @include position(relative, null, null, null, null, null);
    }
  }

  &-absolute {
    // Default CSS
    @include responsive(mobile) {
      @include flex(row, space-between, center, null);
      @include position(absolute, 0, 0, 0, 0, null);
    }
  }

  &-margin {
    @include responsive(mobile) {
      width: 100%;
      @include grid(repeat(auto-fit, minmax(5rem, 1fr)), 1fr, null);
    }
  }

  &-section {
    @include responsive(mobile) {
      margin: 0 auto;
    }
  }

  &-subtitle {
    @include responsive(mobile) {
      margin: 0 0 1rem 0;
      letter-spacing: .05rem;
      text-transform: uppercase;
      color: lighten($bg-dark, 10%);
    }
  }

  &-list {
    @include responsive(mobile) {
      list-style: none;
      line-height: 1.5;
    }
  }

  &-item {
    @include responsive(mobile) {
      margin-left: .5rem;
      letter-spacing: .1rem;
      transition: color .3s ease;
      @include position(relative, null, null, null, null, 2);

      &:hover {
        color: $bg-secondary;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.modal {
  color: $bg-light;
  padding: 5rem 0;
  @include flex(column, null, center, null);

  &-close {
    color: inherit;
    cursor: pointer;
    margin: 1rem auto;
    transition: color .3s ease;

    &:hover {
      color: $bg-primary;
    }
  }

  &-img {
    width: 100%;
    object-fit: cover;
  }

  &-title {
    margin: 1rem 0;
    letter-spacing: .1rem;
  }

  &-content {
    width: 100%;
    @include flex(column, null, null, null);
  }

  &-paragraph {
    text-align: justify;
    line-height: 1.5;
    letter-spacing: .05rem;
    column-count: 2;
    column-gap: 2rem;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.works {
  // Default CSS
  @include responsive(mobile) {
    margin: 2rem 0;
  }

  // Tablet horizontal
  @include responsive(tablet-landscape) {
    margin: 3rem 0;
  }

  &-title {
    // Default CSS
    @include responsive(mobile) {
      margin: 0 0 1rem 0;
      text-transform: uppercase;
      color: lighten($bg-dark, 10%);
    }
  }

  &-subtitle {
    // Default CSS
    @include responsive(mobile) {
      margin: 1rem 1rem;
      letter-spacing: .05rem;
      text-transform: uppercase;
      color: lighten($bg-dark, 10%);
    }

    // Tablet horizontal
    @include responsive(tablet-landscape) {
      margin: 2rem 2rem;
    }

    &:before {
      @include responsive(mobile) {
        content: '';
        display: inline-block;
        width: .5rem;
        height: .5rem;
        margin: .25rem 0;
        border-bottom: .1rem solid $bg-dark;
      }
    }

    &:after {
      @include responsive(mobile) {
        content: '';
        display: inline-block;
        width: .5rem;
        height: .5rem;
        margin: .25rem 0;
        border-bottom: .1rem solid $bg-dark;
      }
    }
  }

  &-small {
    @include responsive(mobile) {
      display: block;
      margin: .5rem 0;
      font-style: italic;
      text-align: center;
      color: lighten($bg-dark, 30%);
    }
  }

  &-grid {
    // Default CSS
    @include responsive(mobile) {
      height: inherit; // Inherit from body
      @include grid(repeat(auto-fill, minmax(10rem, 1fr)), 1fr, .5rem);
    }

    // Tablet vertical
    @include responsive(tablet-portrait) {
      height: inherit; // Inherit from body
      @include grid(repeat(auto-fill, minmax(18rem, 1fr)), 1fr, .5rem);
    }

    // Tablet horizontal
    @include responsive(tablet-landscape) {
      height: inherit; // Inherit from body
      @include grid(repeat(auto-fill, minmax(15rem, 1fr)), 1fr, .5rem);
    }

    // Desktop CSS
    @include responsive(desktop) {
      height: inherit; // Inherit from body
      @include grid(repeat(auto-fill, minmax(20rem, 1fr)), 1fr, .5rem);
    }

    &:hover {
      .works-img {
        // Default CSS
        @include responsive(mobile) {
          opacity: .2;
        }
      }
    }
  }

  &-img {
    @include responsive(mobile) {
      width: 100%;
      object-fit: cover;
      border-radius: .5rem;
      transition: opacity .3s ease;
    }

    &:hover {
      @include responsive(mobile) {
        opacity: 1 !important;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.contact {
  // Default CSS
  @include responsive(mobile) {
    margin: 2rem 0;
  }

  // Tablet horizontal
  @include responsive(tablet-landscape) {
    margin: 3rem 0;
  }

  &-title {
    // Default CSS
    @include responsive(mobile) {
      margin: 0 0 1rem 0;
      text-transform: uppercase;
      color: lighten($bg-dark, 10%);
    }
  }

  &-grid {
    @include responsive(mobile) {
      margin-bottom: 1rem;
      @include grid(repeat(auto-fit, minmax(30%, 1fr)), 1fr, 1rem);
    }
  }

  &-group {
    @include responsive(mobile) {
      width: 100%;
      @include flex(row, center, center, null);
    }
  }

  &-label {
    @include responsive(mobile) {
      display: none;
    }
  }

  &-input {
    @include responsive(mobile) {
      color: lighten($bg-dark, 30%);
      width: 100%;
      outline: none;
      padding: .5rem;
      background: $bg-light;
      border: .01rem solid lighten($bg-dark, 30%);
      transition: border .3s ease;
    }

    &:required:focus:valid {
      @include responsive(mobile) {
        border: .01rem solid $bg-success;
      }
    }

    &:required:focus:invalid {
      @include responsive(mobile) {
        border: .01rem solid $bg-warning;
      }
    }

    &:focus {
      @include responsive(mobile) {
        border: .01rem solid $bg-secondary;
      }
    }
  }

  &-area {
    @include responsive(mobile) {
      color: lighten($bg-dark, 30%);
      min-height: 10vh;
      min-width: 50%;
      width: 100%;
      outline: none;
      padding: .5rem;
      margin-bottom: 1rem;
      background: $bg-light;
      border: .01rem solid lighten($bg-dark, 30%);
      transition: border .3s ease;
    }

    &:required:focus:valid {
      @include responsive(mobile) {
        border: .01rem solid $bg-success;
      }
    }

    &:required:focus:invalid {
      @include responsive(mobile) {
        border: .01rem solid $bg-warning;
      }
    }

    &:focus {
      @include responsive(mobile) {
        border: .01rem solid $bg-secondary;
      }
    }
  }

  &-submit {
    @include responsive(mobile) {
      text-transform: uppercase;
      background: $bg-primary;
      border: none;
      padding: .5rem 1rem;
      cursor: pointer;
      transition: .3s ease;
    }

    &:hover {
      @include responsive(mobile) {
        background: $bg-secondary;
      }
    }
  }
}
